*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: 1px solid steelblue;
    font-size: 50px;
    color: brown;
    background-color: beige;
    border-radius: 10%;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

body{
    text-align: center;
}

.box-div{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rosybrown;
    color: white;
    border: 1px solid rosybrown;
}
#game{
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: steelblue;
    color: white;
    border: 1px solid steelblue;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-top: 7%;
    text-decoration: underline;
    color: darkcyan;
}

.winner{
    margin-top: 55px;
    font-size: larger;
    color: sienna;
}

.hide{
    display: none;
}